<!-- <p>activities works!</p> -->

<div class="top">
    <div class="left">
        <h3>Activity: <h4>{{activities.activity}}</h4> </h3>
        <h3>Participants: <h4>{{activities.participants}}</h4> </h3>
        <h3>Key: <h4>{{activities.key}}</h4> </h3>
    </div>
    <div class="right">
        <h3>Type: <h4>{{activities.type}}</h4> </h3>
        <h3>Price: <h4>{{activities.price}}</h4> </h3>
        <h3>Accessibility: <h4>{{activities.accessibility}}</h4> </h3>
    </div>
</div>
<div class="bottom">
    <button>Participation Link</button>
    <br>
    <br>
    <button (click)="refresh()">Refresh</button>
</div>
        
    


