<!-- login form -->
<div class="parent">
    <form [formGroup]="loginForm">
        <h1>Login Form</h1>
        <br>
        <label for="">Email:</label>
        <input type="text" formControlName="email">
        <br><br>
        <label for="">password:</label>
        <input type="password" formControlName="password">
        <br><br>
        <button (click)="login()">login</button>
    </form>
</div>

<!-- <p>login works!</p>




<h1>{{hello}}</h1>

<input type="text" [id] = "courseID">
<br><br> -->

<!-- <button (click) = "onClick()">click</button> -->
<!-- <h1>{{alert}}</h1> -->

<!-- <input type="text" [(ngModel)] = "data"> -->
<!-- <h3>{{data}}</h3> -->

<!-- <label>number1:</label>
<input type="number" [(ngModel)] = "num1">
<br>

<label>number2:</label>
<input type="number" [(ngModel)] = "num2">
<br>

<button (click) = "sum()">sum</button>
<h1>{{result}}</h1> -->

    <!-- Rectangle -->
            <!-- <h1 class="title">Rectangle</h1>

                <label for="">Length:</label>
                <input type="number" [(ngModel)] = "num1">
                <br><br>
                <label for="">Breadth:</label>
                <input type="number" [(ngModel)] = "num2">
                
                <br><br>
            
                <button (click) = "area()">Area</button>
                <button (click) = "peri()">Perimeter</button>
                
            
            <h3>{{result}}</h3>  -->


    <!-- Circle -->
        <!-- <h1 class="title">Circle</h1>

        <label>Radius:</label>
        <input type="number" [(ngModel)] = "num1">
        <br><br>       


        <button (click) = "area()">Area</button>
        <button (click) = "peri()">Perimeter</button>  
        
        <h3>{{result}}</h3> -->

    <!-- BMI -->

            <!-- <h1>BMI</h1>

            <label>Height:</label>
            <input type="text" [(ngModel)] = "num1">
            <br><br>

            <label>Weight:</label>
            <input type="text" [(ngModel)] = "num2">
            <br><br>

            <button (click) = "cal()">Calculate</button>
            <h2>{{result}}</h2> -->