<!-- <p>flipkart works!</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1> <img src="" alt=""> Flipkart Products</h1>
<div class="products">
    <div class="items" *ngFor="let flipkart of flipkarts">
        <div class="top">
            <img src="{{flipkart.image}}" alt="" width="100px" height="100px">
        </div>
        <div class="bottom">
            <h3>{{flipkart.title}}</h3>
            <!-- <h4>{{flipkart.description}}</h4> -->
            <h6>{{flipkart.category}}</h6>
            <span>{{flipkart.rating.rate}}&nbsp;<span class="fa fa-star checked"></span> </span>&nbsp;<samp>({{flipkart.rating.count}})</samp>
            <br>
            <h4>&#8377;{{flipkart.price}}</h4>
            <h5>Free delivery</h5>
        </div>
    </div>
</div>

